.footer {
  background-color: var(--color-background-tertiary);
  color: var(--color-text-secondary);

  .footerTop {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
  }
}
