.header {
  background-color: var(--color-background-secondary);

  .headerTop,
  .headerBottom {
    padding: 17px 0;
  }

  .headerBottom {
    background-color: var(--color-background-tertiary);
    border-bottom: 1px solid var(--color-background-primary);
    border-top: 1px solid var(--color-background-primary);

    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .logo {
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      color: var(--color-text-secondary);
      text-transform: uppercase;
    }
  }
}

.headerNavBar {
  display: flex;
  gap: 40px;
  color: var(--color-text-secondary);

  .headerNavBarLink {
    // font-size: 24px;
  }
}
