.header {
  background-color: var(--color-background-secondary);

  .headerTop,
  .headerBottom {
    padding: 17px 0;
  }

  .headerBottom {
    background-color: var(--color-background-tertiary);
  }
}

.headerNavBar {
  display: flex;
  gap: 40px;
  color: var(--color-text-secondary);

  .headerNavBarLink {
    // font-size: 24px;
  }
}
