:root {
  //texts
  --color-text-primary: #18181a;
  --color-text-secondary: #ffffff;
  //bg
  --color-background-primary: #ffffff;
  --color-background-secondary: #232425;
  --color-background-tertiary: #18181a;

  //icons
  --color-icon-primary: #18181a;
  --color-icon-secondary: #ffffff;
}
