.header {
  background-color: var(--color-background-secondary);
}

.headerNavBar {
  display: flex;
  gap: 40px;
  color: var(--color-text-secondary);

  .headerNavBarLink {
    // font-size: 24px;
  }
}
